<script context="module">
  import { getPage } from "../../notion";
  export async function preload({ params, query }) {
    const data = await getPage(`${params.slug}`, this);
    return {
      post: data
    };
  }
</script>

<script>
  import Notion from "../../components/Notion.svelte";
  export let post;
</script>

<style>

</style>

<Notion blocks={post} />
