<script>
  import Loader from "../../components/Loader.svelte";
</script>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  p {
    margin: 2vh 0;
  }
</style>

<body>
  <p>I created a fun little loader with keyframes and css variables</p>
  <Loader maxSize={150} />
</body>
