<script context="module">
  import { getEntries } from "../../notion";
  export async function preload({ params, query }) {
    const data = await getEntries(`1b0d48db5af041d6aaa92020e7e2f87b`, this);
    data.sort((a, b) => {
      return a.timestamp > b.timestamp ? -1 : 1;
    });
    return {
      posts: data
    };
  }
</script>

<script>
  import Card from "../../components/Card.svelte"
  export let posts;
</script>

<style>
  ul {
    margin: 0 0 1em 0;
    line-height: 1.5;
    overflow-y: scroll;
  }

  li {
    padding: 4px;
  }

  a:visited {
    color: var(--accent2);
  }


</style>

<svelte:head>
  <title>Blog</title>
</svelte:head>

<Card>
  <h1>Recent posts</h1>

  <ul>
    {#each posts as post}
      <!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
      <li>
        <a rel="prefetch" href="blog/{post.pageId}">{post.title}</a>
      </li>
    {/each}
  </ul>
</Card>

