<script>
  import { onMount } from "svelte";

  import Notifications from "svelte-notifications";
  import Nav from "../components/Nav.svelte";
  import Notification from "../components/Notification.svelte";
  export let segment;
</script>

<style>
  main {
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    height: var(--content-height);
    color: var(--black);
    grid-area: main;
    overflow-y: scroll;
  }

  :global(a) {
    color: var(--accent1);
  }

  .container {
    display: grid;
    grid-template-areas:
      "main"
      "nav";
    /*background-color: var(--dark);*/
    background: url("/Waimakariri.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
  }

  .navigation {
    grid-area: nav;
    position: fixed;
    bottom: 0;
  }

  @media (min-width: 640px) {
    .container {
      grid-template-areas:
        "nav"
        "main";
    }

    .navigation {
      position: sticky;
      bottom: unset;
      top: 0;
    }

    main {
      max-width: 80vw;
      padding: 2em;
    }
  }
</style>

<svelte:head>
  <title>Jared Kling | Dev</title>
  <link
    href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css"
    rel="stylesheet" />
</svelte:head>

<div class="container">
  <Notifications item={Notification} withoutStyles={true}>
    <div class="navigation">
      <Nav {segment} />
    </div>
    <main>
      <slot />
    </main>
  </Notifications>
</div>
