<script>
  import { getNotificationsContext } from "svelte-notifications";
  import Button from "../components/Button.svelte";
  import Card from "../components/Card.svelte";

  const { addNotification } = getNotificationsContext();

  const errorTypes = ["error", "success", "info", "warning"];
  const locations = ["bottom-right"];

  const showToast = async () => {
    let errorType = Math.floor(Math.random() * 400) % errorTypes.length;
    let location = Math.floor(Math.random() * 400) % locations.length;

    addNotification({
      text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit.",
      heading: "Hi",
      position: locations[location],
      type: errorTypes[errorType],
      removeAfter: 3000,
      action: {
        text: "Log hello",
        handler: () => {
          console.log(`Hey dere`);
        }
      }
    });
  };

  let ageInMs = new Date() - new Date("1991-07-22");
  let ageInYears = Math.floor(ageInMs / (1000 * 60 * 60 * 24 * 365));
</script>

<svelte:head>
  <title>Jared Kling | About</title>
</svelte:head>

<div class="page-wrapper">
  <Card>
  <h1>About Jared</h1>

  <p>I'm a software engineer living in Chicago, Illinois</p>

  <h4>Some of my interests</h4>
  <ul>
    <li>👨‍💻 Coding</li>
    <li>🏒 Hockey</li>
    <li>🍺 Brewing and drinking</li>
    <li>🐕 Dogs</li>
    <li>✈️ Traveling</li>
  </ul>

  <Button click={showToast}>Toast Me</Button>
</Card>
</div>
