<script>
  import Card from "../components/Card.svelte"
</script>

<style>
  .headshot {
    max-width: 7vw;
  }

  h1,
  p {
    text-align: center;
    margin: 0 auto;
    font-size: 1.1em;
  }

  h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>

<div class="page-wrapper">
  <h1>
    <img class="headshot" src="logo-192.png" alt="SVG I made of myself" />
    Hello!
  </h1>

  <Card>
  <p>
    My name is Jared Kling. I'm a software enginner and this is my personal
    site.
  </p>

  <p>
    My goals with this site is just to have a place to learn, type out some
    thoughts. I heard about a "code garden" on
    <a href="https://syntax.fm">syntax.fm</a>
    as the idea of a place for bullet points, not necessarily complete thoughts
    and thought it would be fun to try out.
  </p>
</Card>
</div>
