<script>
  import Form from "../components/NetlifyForm.svelte";
  let formName = "contact";
  let honeypot = "verify-email";
</script>

<style>
  label {
    display: flex;
    flex-direction: column;
  }

  label[for="verify-email"] {
    display: none;
  }
</style>

<Form {formName} {honeypot}>
  <label for="name">
    Your Name:
    <input type="text" name="name" placeholder="Name" />
  </label>

  <label for="email">
    Your Email:
    <input type="email" name="email" placeholder="Email Address" />
  </label>

  <label for="verify-email">
    Verify Email:
    <input
      type="hidden"
      name="verify-email"
      placeholder="Verify Email Address" />
  </label>

  <label for="company">
    Company Name:
    <input type="text" name="company" placeholder="Company" />
  </label>

  <label for="role">
    Your Role:
    <input type="text" name="role" placeholder="Role" />
  </label>

  <label>
    Message:
    <textarea name="message" />
  </label>
</Form>
