<script context="module">
  export async function preload(page, session) {
    const res = await this.fetch(`/uses.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { usesSections: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>import Card from "../components/Card.svelte";

  export let usesSections;
</script>

<style>
  li {
    font-size: 1.3em;
    padding: 0.7vh 0;
  }

  .sections {
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  @media screen and (orientation: portrait) and (max-width: 700px) {
    .sections {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (orientation: portrait) and (max-width: 500px) {
    .sections {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  h2 {
    border-bottom: solid 2px var(--accent2);
  }

  ol {
    padding: 1vh 1vw;
  }

  section {
    padding: 2vh 0.5vw;
  }
</style>

<svelte:head>
  <title>Jared Kling | Uses</title>
</svelte:head>
<div class="page-wrapper">
  <Card>
  <div class="sections">
    {#each usesSections as section}
      <section>
        <h2>{section.title}</h2>
        <ol>
          {#each section.items as item}
            <li>{item}</li>
          {/each}
        </ol>
      </section>
    {/each}

  </div>
</Card>
</div>
