<script>
    import { each } from "svelte/internal";
    import Star from "./icons/Star.svelte";

    export let stars = 5;
    export let reviewer = "";
    export let style = "";

    let starImages = [];
    for (let i = 1; i <= 5; i++) {
        if (i <= stars) {
            starImages.push("filled");
        } else {
            starImages.push("gray");
        }
    }
    let indentSize = 15;
</script>

<style>
    div {
        background-color: var(--light-grayish-magenta);
        color: var(--dark-magenta);
        font-weight: 700;
        padding: 15px 20px;
        margin: 2px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @media (min-width: 950px) {
        div {
            flex-direction: row;
        }
    }
</style>

<div {style}>
    <span>
        {#each starImages as imageType}
            <span class="star">
                {#if imageType == 'filled'}
                    <Star />
                {:else}
                    <Star fill="gray" />
                {/if}
            </span>
        {/each}
    </span>
    <p>Rated {stars} stars in {reviewer}</p>
</div>
