<script>
    export let name = "";
    export let verified = false;
    export let avatar = "";
    export let comment = "";
    export let style = "";
</script>

<style>
    img {
        width: 50px;
        border-radius: 25px;
    }

    span {
        display: flex;
        flex-direction: column;
    }

    .name {
        color: var(--white);
    }

    .verified {
        color: var(--soft-pink);
    }

    .comment {
        color: var(--light-grayish-magenta);
    }

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
    }

    .testimonial {
        background-color: var(--dark-magenta);
        border-radius: 8px;
        padding: 3vh 3vw;
    }
</style>

<div class="testimonial" {style}>
    <div class="header">
        <img src={avatar} alt="Photo of {name}" />
        <span>
            <p class="name">{name}</p>
            {#if verified}
                <p class="verified">Verified Buyer</p>
            {/if}
        </span>
    </div>
    <p class="comment">{comment}</p>
</div>
