<script>
    import Rating from "../../components/front-end-mentor/social-proof-section/Rating.svelte";
    import Testimonial from "../../components/front-end-mentor/social-proof-section/Testimonial.svelte";

    let ratings = [
        {
            stars: 1,
            reviewer: "Reviews",
        },
        {
            stars: 5,
            reviewer: "Report Guru",
        },
        {
            stars: 4,
            reviewer: "BestTech",
        },
    ];

    const testimonials = [
        {
            name: "Colton Smith",
            verified: true,
            comment: `"We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent!"`,
            avatar: "/images/image-colton.jpg",
        },
        {
            name: "Irene Roberts",
            verified: true,
            comment: `"Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery."`,
            avatar: "/images/image-irene.jpg",
        },
        {
            name: "Anne Wallace",
            verified: true,
            comment: `"Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone!"`,
            avatar: "/images/image-anne.jpg",
        },
    ];
    let indentSize = 35;

    const getRatingMargin = (index) => {
        const left = index * indentSize;
        const right = (ratings.length - index) * indentSize;
        const topBottom = 15;
        return `${topBottom}px calc((${ratings.length}px - ${index}px) * var(--indent-size)) ${topBottom}px calc(var(--indent-size) * ${index}px)`;
    };

    const getTestimonialMargin = (index) => {
        const top = index * indentSize;
        const bottom = (ratings.length - index) * indentSize;
        const side = 0;
        return `calc(var(--indent-size) * ${index}px) ${side}px calc((${ratings.length}px - ${index}px) * var(--indent-size)) ${side}px`;
    };
</script>

<style>
    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .top {
        background-image: url("/images/bg-pattern-top-mobile.svg");
        padding: 5vh 4vw 0;
        display: grid;
    }
    .bottom {
        background-image: url("/images/bg-pattern-bottom-mobile.svg");
        background-position: right;
        padding: 0 4vw 5vh;
    }

    .callout {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .testimonials {
        display: flex;
        gap: 2vw;
        flex-direction: column;
    }

    h1 {
        font-weight: 700;
        font-size: 3.6rem;
        color: var(--dark-magenta);
    }

    .reviews {
        --indent-size: 0;
    }

    .testimonials {
        --indent-size: 0;
    }

    .content {
        background-color: var(--white);
    }

    @media (min-width: 450px) {
        .top {
            background-image: url("/images/bg-pattern-top-desktop.svg");
            padding: 8vh 6vw 0;
        }
        .bottom {
            background-image: url("/images/bg-pattern-bottom-desktop.svg");
            padding: 0 6vw 8vh;
        }
    }

    @media (min-width: 950px) {
        .top {
            gap: 3vw;
            grid-template-columns: 1fr 1fr;
            padding: 10vh 8vw 0;
        }

        .bottom {
            padding: 0 8vw 10vh;
        }

        .background-image {
            background-size: contain;
        }

        .reviews {
            --indent-size: 35;
        }

        .testimonials {
            --indent-size: 35;
            flex-direction: row;
        }
    }
</style>

<main
    style="	--dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);">
    <div class="content">
        <section class="top background-image">
            <div class="callout">
                <h1>10,000+ of our users love our products.</h1>
                <p>
                    We only provide great products combined with excellent
                    customer service. See what our satisfied customers are
                    saying about our services.
                </p>
            </div>
            <div class="reviews">
                {#each ratings as rating, index}
                    <Rating
                        stars={rating.stars}
                        reviewer={rating.reviewer}
                        style="margin: {getRatingMargin(index)}" />
                {/each}
            </div>
        </section>
        <section class="bottom background-image">
            <div class="testimonials">
                {#each testimonials as testimonial, index}
                    <Testimonial
                        name={testimonial.name}
                        verified={testimonial.verified}
                        comment={testimonial.comment}
                        avatar={testimonial.avatar}
                        style="margin: {getTestimonialMargin(index)}" />
                {/each}
            </div>
        </section>
    </div>
</main>
