<script>
    export let type = "button";
    export let click = () => {};
    export let variant = "primary";

    const variants = {
        primary: true, secondary: true, outlined: true
    };
    const types = {button: true, submit: true };

    if (!variants[variant]) {
        variant = Object.keys(variants)[0];
    }

    if (!types[type]) {
        type = Object.keys(types)[0];
    }
</script>
<style>
    button {
        border-radius: var(--semi-raised);
        padding: 5px 50px;
        font-size: 20px;
        margin: 2vh 0;
        cursor: pointer;
    }

    .primary {
        background-color: var(--primary);
        color: var(--light);
    }

    .primary:hover {
        background-color: var(--dark);
    }
    .primary:focus {
        outline: var(--accent2) auto 0.5px;
    }

    .secondary {
        background-color: var(--accent-2);
        color: var(--light);
    }

    .outlined {
        background-color: var(--light);
        border: solid 1px var(--dark);
        color: var(--dark);
    }

    .outlined:hover {
        background-color: var(--light-dark);
    }
</style>

<button {type} on:click={click} class={`${variant}`}>
    <slot />
</button>