<script>

</script>

<style>
    .card {
        background-color: #dcdcfc;
        color: #090909;
        
        border-radius: 5px;
        box-shadow: var(--semi-raised);

        padding: 2vh 4vw;
    }
</style>

<div class="card">
    <slot />
</div>