<script>
  import { Highlight, HighlightSvelte } from "svelte-highlight";
  import { javascript, xml } from "svelte-highlight/languages";
  import { obsidian as style } from "svelte-highlight/styles";

  const getLanguage = lang => {
    lang = lang ? lang.toLowerCase() : null;
    switch (lang) {
      case "html":
        return xml;
      case "javascript":
      default:
        return javascript;
    }
  };

  export let language = "javascript";
  export let code;
</script>

<svelte:head>
  {@html style}
</svelte:head>

<div>
  {#if language === 'ABAP'}
    <HighlightSvelte {code} />
  {:else}
    <Highlight language={getLanguage(language)} {code} />
  {/if}
</div>
