<script>
  export let maxSize = 100;
  export let color1 = "var(--dark)";
  export let color2 = "var(--accent1)";
  let sizePx = `${maxSize}px`;
</script>

<style>
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #circle1 {
    animation: circlePosition 4s linear 2s infinite;
  }

  #circle1 > circle {
    animation: hide 2s linear 0s 1, circleRadius 4s linear 2s infinite;
  }

  #circle2 {
    animation: circlePosition 4s linear 0s infinite;
  }

  #circle2 > circle {
    animation: circleRadius 4s linear 0s infinite;
  }

  .circleContainer {
    left: 0;
    top: 0;
    width: var(--size-px);
  }

  circle {
    cx: calc(var(--max-size) / 2);
    cy: calc(var(--max-size) / 2);
  }

  @keyframes circleRadius {
    0% {
      transform: scale(0);
      transform-origin: center center;
    }
    15% {
      transform: scale(0.2);
      transform-origin: center center;
    }
    25% {
      transform: scale(0.4);
      transform-origin: center center;
    }
    35% {
      transform: scale(0.6);
      transform-origin: center center;
    }
    60% {
      transform: scale(0.6);
      transform-origin: center center;
    }
    75% {
      transform: scale(0.7);
      transform-origin: center center;
    }

    80% {
      transform: scale(0.8);
      transform-origin: center center;
    }
    85% {
      transform: scale(1);
      transform-origin: center center;
    }
    90% {
      transform: scale(0.5);
      transform-origin: center center;
    }
    95% {
      transform: scale(0.2);
      transform-origin: center center;
    }
    100% {
      transform: scale(0);
      transform-origin: center center;
    }
  }

  @keyframes hide {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes circlePosition {
    0% {
      transform: translateY(80%);
      z-index: 0;
    }
    15% {
      transform: translateY(60%);
      z-index: 10;
    }
    25% {
      transform: translateY(20%);
      z-index: 0;
    }
    45% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(0);
      z-index: 10;
    }
    95% {
      transform: translateY(0);
      z-index: 10;
    }
    100% {
      transform: translateY(0);
      z-index: 10;
    }
  }

  .wrapper {
    position: relative;
    width: var(--max-size);
    height: var(--max-size);
    display: flex;
    flex-direction: column;
  }
</style>

<div
  class="loader"
  style="--max-size: {maxSize}; --size-px: {sizePx}; padding-bottom: {maxSize * 0.8}px">
  <div class="wrapper" style="min-height: calc({maxSize} * 2)">
    <svg id="circle1" class="circleContainer" style="fill: {color1};">
      <circle r={maxSize / 2} />
    </svg>
    <svg
      id="circle2"
      class="circleContainer"
      style="fill: {color2}; margin-top: -{sizePx}">
      <circle r={maxSize / 2} />
    </svg>
  </div>
</div>
