<script>
  export let open = false;
</script>

<style>
  .backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    padding: 10vh 2vw;
    margin: 10vh auto;
    max-width: 40vw;
    max-height: 40vh;
    background-color: var(--light);
    border-radius: 20px;
  }

  .closed {
    display: none;
  }
</style>

<div class="backdrop" on:click|self class:closed={!open}>
  <div class="modal-content">
    <slot />
  </div>
</div>
