<script>
  export let segment;
</script>

<style>
  nav {
    font-weight: 300;
    height: calc(100vh - var(--content-height));
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  /* clearfix */
  ul::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
    height: 100%;
  }

  [aria-current] {
    color: var(--black);
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--black);
    height: 100%;
    justify-content: center;
    padding: 0 1vw;
    align-items: center;
  }

  a:hover {
    color: var(--accent2);
    cursor: pointer;
  }

  i {
    fill: var(--light);
    padding: 0 4px;
    font-size: 1.8rem;
  }

  a span {
    font-size: 0.6rem;
  }

  @media (min-width: 640px) {
    i {
      display: none;
    }

    a span {
      display: inline;
      font-size: 1.6rem;
    }
  }
</style>

<nav>
  <ul>
    <li>
      <a aria-current={segment === undefined ? 'page' : undefined} href=".">
        <i class="bx bx-home" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a aria-current={segment === 'about' ? 'page' : undefined} href="about">
        <i class="bx bx-question-mark" />
        <span>About</span>
      </a>
    </li>
    <li>
      <a aria-current={segment === 'uses' ? 'page' : undefined} href="uses">
        <i class="bx bx-laptop" />
        <span>Uses</span>
      </a>
    </li>
    <li>
      <a
        aria-current={segment === 'contact' ? 'page' : undefined}
        href="contact">
        <i class="bx bx-envelope" />
        <span>Contact Me</span>
      </a>
    </li>
    <li style="display: none"><a href="thanks"> <span>Thanks</span> </a></li>
    <li>
      <a
        aria-current={segment === 'front-end-mentor' ? 'page' : undefined}
        href="front-end-mentor/social-proof-section">
        <i class="bx bx-code-alt" />
        <span>Front End Mentor</span>
      </a>
    </li>
    <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
    <li>
      <a
        rel="prefetch"
        aria-current={segment === 'blog' ? 'page' : undefined}
        href="blog">
        <i class="bx bx-notepad" />
        <span>Notes</span>
      </a>
    </li>
  </ul>
</nav>
