<script>
  import Button from "./Button.svelte";
  export let formName = "";
  export let action = "/thanks";
  export let honeypot = "";
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
  }

  form :global(p) {
    padding: 15px;
  }

  form :global(input[type="text"]),
  form :global(input[type="email"]),
  form :global(textarea) {
    margin: 10px 0;
    padding: 4px;
    border-radius: 5px;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  form :global(textarea) {
    height: 4.8rem;
  }
</style>

<form
  name={formName}
  method="POST"
  data-netlify="true"
  {action}
  netlify-honeypot={honeypot}
  content-type="application/x-www-form-urlencoded">
  <input type="hidden" name="form-name" value={formName} />
  <slot />
  <Button type="submit">Send</Button>
</form>
