<script>
  export let notification = {};
  export let onRemove = null;
  export let withoutStyles = false;

  if (!notification.heading) {
    notification = "";
  }

  if (!notification.removeAfter) {
    notification.removeAfter = 5000;
  }

  if (!notification.text) {
    notification.text = "";
  }

  if (
    !notification.action ||
    !notification.action.handler ||
    !notification.action.text
  ) {
    notification.action = null;
  }

  const handleClose = () => {
    onRemove();
  };

  setTimeout(() => {
    onRemove();
  }, notification.removeAfter);
</script>

<style>
  /* start positioning */
  :global(.position-bottom-right) {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
  }

  :global(.position-top-right) {
    position: absolute;
    top: 2vh;
    right: 2vw;
  }

  :global(.position-top-left) {
    position: absolute;
    top: 2vh;
    left: 2vw;
  }

  :global(.position-bottom-left) {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
  }
  /* end positioning */

  /* start colors */
  :global(.success) {
    background-color: #a2ffa8;
  }

  :global(.success) .action:hover {
    background-color: #89da8f;
  }

  :global(.error) {
    background-color: #ff8288;
  }

  :global(.error) .action:hover {
    background-color: #d46b71;
  }

  :global(.info) {
    background-color: #12b8ff;
  }
  :global(.info) .action:hover {
    background-color: #0d98d3;
  }

  :global(.warning) {
    background-color: #e1e970;
  }

  :global(.warning) .action:hover {
    background-color: #c8cf63;
  }
  /* end colors */

  .notification {
    margin: 2vh 3vw;
    border: #525252 solid 1px;
    border-radius: 6px;
    max-width: 30vw;
    display: flex;
    box-shadow: 4px 4px 5px #525252;
  }
  .content {
    font-weight: 400;
    padding: 1vh 2vw;
  }

  .heading {
    font-weight: 700;
    font-size: 0.9rem;
  }

  .inner {
    font-size: 0.8rem;
  }
  button {
    display: block;
    width: 60px;
    padding: 0 0 2px;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 12px;
    color: #666;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .action:first-child {
    border-top: none;
    border-bottom: rgba(45, 45, 45, 0.7) solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: none;
  }
  .action:last-child {
    border-top-right-radius: none;
    border-bottom-right-radius: 4px;
  }
  .action:only-child {
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  .actions {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-left: rgba(45, 45, 45, 0.7) solid 1px;
  }
</style>

<div
  class="notification {notification.type}"
  data-uses-default-styles={!withoutStyles}>
  <div class="content">
    <h3 class="heading">{notification.heading}</h3>
    <div class="inner">
      <p>{notification.text}</p>
    </div>
  </div>
  <div class="actions">
    {#if notification.action}
      <button class="action" on:click={() => notification.action.handler()}>
        {notification.action.text}
      </button>
    {/if}
    <button class="action" on:click={onRemove}>Close</button>
  </div>
</div>
