<script>
  import CodeBlock from "./CodeBlock.svelte";

  export let blocks;
</script>

<style>
  article :global(p) {
    margin: 1.1em 0;
  }
</style>

<article>
  {#each blocks as block}
    {#if block.type === 'header'}
      <h1>{block.properties.title[0][0]}</h1>
    {:else if block.type === 'page'}
      <h2>{block.properties.title[0][0]}</h2>
    {:else if block.type === 'sub_header'}
      <h2>{block.properties.title[0][0]}</h2>
    {:else if block.type === 'sub_sub_header'}
      <h3>{block.properties.title[0][0]}</h3>
    {:else if block.type === 'text'}
      <p>{block.properties.title[0][0]}</p>
    {:else if block.type === 'divider'}
      <hr />
    {:else if block.type === 'bookmark'}
      <a
        href={block.properties.link[0][0]}
        title={block.properties.description[0][0]}>
        {block.properties.title[0][0]}
      </a>
    {:else if block.type === 'quote'}
      <blockquote className="notion-quote">
        {block.properties.title[0][0]}
      </blockquote>
    {:else if block.type === 'code'}
      <CodeBlock
        code={block.properties.title[0][0]}
        language={block.properties.language[0][0]} />
    {/if}
  {/each}
</article>
