:root {
    --black: rgba(31, 31, 54, 1);
    --white: rgba(239, 244, 244, 1);
    --dark: rgba(0, 38, 38, 1);
    --primary: rgba(14, 71, 73, 1);
    --primary-light: rgba(22, 113, 116, 1);
    --accent1: rgba(149, 198, 35, 1);
    --accent2: rgba(229, 88, 18, 1);
    --light: rgba(239, 231, 218, 1);
    --light-dark: rgba(211, 204, 199, 1);

    --content-height: 90vh;

    --semi-raised: 3px 3px 4px 1px;
}

/* Font sizing */
html,
body {
    font-size: 1rem;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 0.875rem;
}

/* ↓ This one is for smaller phones ↓ */
@media (max-width: 350px) {
    html {
        font-size: 0.9rem;
    }
}

/* ↓ These are for high-res displays ↓ */
@media (min-width: 1900px) {
    html {
        font-size: 1.5rem;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 2rem;
    }
}

@media (min-width: 3000px) {
    html {
        font-size: 2.5rem;
    }
}

@media (min-width: 3400px) {
    html {
        font-size: 3rem;
    }
}

/* Font face */

h1,
h2,
h3 {
    font-family: "Sintony", sans-serif;
}

h4,
h5,
h6,
th {
    font-family: "Yrsa", serif;
}

p,
span,
div,
td,
a {
    font-family: "Sura", serif;
}

.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html,
body {
    line-height: 1.5;
}
